/* Header Start*/
.logo {
    max-width: 100%;
    height: auto;
}
.logo h4 {
    font-size: 20px;
    font-family: "Roboto";
    line-height: 1.5;
}
.header-area .main-header .menu-wrapper .main-menu ul li.hot::before {
    background: #ec0002 !important;
}

nav > ul > li > a:hover {
    color: #ec0002 !important;
}

.header-area .main-header .menu-wrapper .main-menu ul li:hover > a {
    color: #ec0002 !important;
}

.header-area .main-header .menu-wrapper .header-right span {
    font-size: 15px !important;
    padding: 31px 6px !important;
}

.header-right {
    padding-right: 43px;
}

.header-right ul li span:hover {
    color: #ec0002  !important;
}

.search {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -20px;
    margin-bottom: -10px;
}
.search .input-group {
    width: 600px;
    padding-left: 80px;
}
.input-group-append .search-btn {
    background: #ec0002  !important;
    padding-top: 20px;
    padding-bottom: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.input-group-append .search-btn i {
    position: relative;
    bottom: 10px;
    font-size: 14px;
    color: #fff;
}
.follow-us {
    margin-right: 5px;
}
 .follow-us ul {
    display: flex;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}
 .follow-us ul li {
    font-size: 14px;
    display: inline-block;
    padding-left: 12px;
     /* margin-left: 15px;  */
}
 .follow-us ul li{
    font-weight: 400;
    font-family: "Roboto";
    line-height: 1;
    font-size: 14px;

}
.follow-us ul li a i {
    color:black;
    height:24px;
    width:18px;
}
 .follow-us ul li a i:hover{
    color:#ec0002 ;
}
/* Megamenu Start */
.main-header .mega-menu {
    position: relative;
    bottom: 10px;
    right: 10px;
}
.navbar {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 0;
    box-shadow: 1px 3px 4px 0 #adadad33;
    margin-bottom: 5px;
}
.navbar-light .navbar-brand {
    color: #2196f3;
}
.navbar-light .navbar-nav .nav-link {
    color: #141517;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #ec0002;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ec0002 ;
}
.navbar-light .navbar-nav .nav-link {
    transition: 0.6s;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif;
    color: #141517;
    font-weight: 500;
    /* padding: 41px 21px; */
    text-transform: capitalize;
    display: block;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    transition: 0.6s;
}
.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #fe0a24 !important;
}
.sm-menu {
    border-radius: 0px;
    border: 0px;
    top: 97%;
    box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
}
.dropdown-item {
    color: #3c3c3c;
    font-size: 14px;
}
.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #ec0002;
}
.navbar-toggler {
    outline: none !important;
}
.navbar-tog {
    color: #1ebdc2;
}
.megamenu-li {
    position: static;
}

.megamenu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
}
.megamenu h6 {
    margin-left: 21px;
}
.megamenu i {
    width: 20px;
}
/*MegaMenu End */

/*Header End */

/* body */
.slider-area .hero__caption h1 {
    font-size: 80px !important;
    font-weight: 700;
    line-height: 1 !important;
}
.single-new-pro .product-caption span {
    color: #ec0002 !important;
}

.hero-btn::before {
    background: #ec0002 !important;
}

#owl-demo .item {
    margin: 3px;
}
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}
.view-btn1 {
    background: #ec0002 !important;
}
/*end of body*/

/* Start of footer */

#scrollUp {
    background: #ec0002 !important;
}
.shop-method-area .method-wrapper {
    background: #ec0002 !important;
}
.footer-area .footer-tittle ul li a:hover {
    color: #ec0002 !important;
}
.footer-copy-right .footer-social a i:hover {
    color: #ec0002 !important;
}
/*End of Footer */


